.flashcards {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center center;
  background: transparent;
}

.flashcards__container {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  perspective: 400px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.flashcards__container::-webkit-scrollbar {
  display: none;
}

.flashcards .card {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 200px;
  background: white;
  margin: 2rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.flashcards .card:first-of-type {
  margin-left: 15rem;
}

.flashcards .card:last-of-type {
  margin-right: 15rem;
}
